@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Source+Sans+Pro:200,700,900&display=swap');

// Variables


// Imports
@import 'typography';
@import 'reset';
@import 'grid';
@import 'Varibles';
@import 'modules';



#blog {
    background: url(../);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 2rem 0;
}

.blog {
    &__article-title {
        margin-top: 2rem;
        &:first-child {margin-top: 1.5rem}
    }
    &__article-title {color: $text}
    

.contact {
    background: $text;
    color:white;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    
    // &__title, &__social, &__button {flex: 100%; }
    &__social {
        margin-bottom: 2rem;
    }
    &__button {
        width: 18rem;
                
    }
}
  
.social {
        display: flex;
        justify-content: center;
        
        &__button {
            margin: 0 1rem;
            font-size: 1.5rem;
            color: white;
            transition: all .25s ease-in-out;
            
            &:hover {color: $link;}
        }
 }


.footer-list {
    color: $light;
    font-size: .875rem;
    margin: 4rem auto 8rem;
    
        
    &__item {
        display: inline-block;
        margin-right: .5rem;
        &:after {
            content: "|";
            margin-left: .5rem;
    }
        
        &:last-child {
            &:after {content: none}
            margin: 4rem auto 8rem;
    
            
      }
}